.stock-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.name {
    font-weight: 600;
}

.positive {
    color: green;
}

.negative {
    color: red;
}