<form [formGroup]="registerForm" (ngSubmit)="login()" class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field [style.width.%]="100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field [style.width.%]="100">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <div *ngIf="notExist" style="color: red;">Incorrect username or password</div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Login</button>
            <a routerLink="/register" routerLinkActive="active">Create a new account</a>
        </mat-card-content>
    </mat-card>
</form>