.stock-container {
    display: block;
    margin: auto;
    padding: 10px;
    color: #ecf0f1;
}

.name {
    font-weight: 600;
}

.positive {
    background-color: #27ae60;
}

.negative {
    background-color: #c0392b;
}

button {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    background-color: #ecf0f1;
}
.favorite {
    color: #c0392b;
}