<mat-card [class]="isPositiveChange" style="width: 192px;">
    <mat-card-header routerLink="/stocks/{{stock.code}}">
        <mat-card-subtitle>{{stock.name + ' - (' + stock.code + ')' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>${{stock.price}}</p>
        <p>{{changeAmount.toFixed(2) +' ('+ changeRatio.toFixed(2) +'%)'}}</p>
        <p>{{stock.exchange}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button (click)="toggleFavorite()" [class]="stock.favorite ? 'favorite': ''">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>