*{
    box-sizing: border-box;
}
form{
    max-width: 200px;
    background-color: #00000010;
    padding: 1rem;
    border-radius: 0.5rem;
}
input:not([type="checkbox"]), button {
    display: inline-block;
    margin: 0.5rem auto;
    width: 100%;
}
select{
    display: block;
    width: 100%;
}

input.ng-invalid{
    background-color: #ff000035;
}
input.ng-valid{
    background-color: #00800035;
}
input.ng-touched{
    background-color: #505cff35;
}

.alert{
    color: red;
}